#main-grid {
  margin-left: 170px;
  display:grid;
  min-height: 500px;
  height:1350px;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-areas: 
  "one two two"
  "one two two"
  "three four five";
  font-family:'pacifico';
  font-size: 18px;
  font-weight: 500;
  color:rgb(0, 0, 0);
}



#one {
  grid-area: one;
  background-image:url(../images/pexels-rovenimagescom-949587.jpg) ;

}

#two {
  grid-area: two;
  background-image: url(../images/pexels-miguel-á-padriñán-19670.jpg);
}

#three {
  grid-area: three;
  background-image: url(../images/pexels-moose-photos-1037992.jpg);
}

#four {
  grid-area: four;
  background-image: url(../images/pexels-eberhard-grossgasteiger-844297.jpg);
}

#five {
  grid-area: five;
  background-image: url(../images/profile\ picture.jpeg);
}


.total-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  align-content: end;
  
 }


 h1 {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #4c00ff;
}


footer {
background-color:rgb(8, 126, 231);
font-size: large;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}



span {
  background-color: rgba(255, 255, 255, 0.728)
}

@media screen and (max-width: 800px) {
  #main-grid {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "one"
      "two"
      "three"
      "four"
      "five"
      ;
}}