.sidebar {
  position:fixed;
    left:0%;
    bottom: 0mm;
    top: 173px;
    height: 1000px;
    width: 175px;
    background-image: url(assets/images/y-so-serious.png);
    z-index: 200;
    overflow-y: scroll;
    height: auto;
    max-height: 1000px;
}

.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}